<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Portfolio</title>
    <link rel="stylesheet" href="./../../static/css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/cdb3jys.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./../../static/js/main.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-fixed">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fa fa-bars bars"></i>
              </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <i class="fa fa-times mobile-bars" aria-hidden="true"></i>
                      </button>
                    <li class="nav-item"><a href="/home#home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About Me</a></li>
                    <li class="nav-item"><a href="/home#skills" class="nav-link">Skills</a></li>
                    <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
                    <li class="nav-item"><a href="/home#contact" class="nav-link">Contact Me</a></li>
                    <a class="theme" onclick="theme()">
                        <i class="fa fa-moon-o"></i>
                    </a>
                    <a class="theme-light" onclick="theme()">
                        <i class="fa fa-sun-o"></i>
                    </a>
                </ul>
            </div>
            <a class="theme" onclick="theme()">
                <i class="fa fa-moon-o"></i>
            </a>
            <a class="theme-light" onclick="theme()">
                <i class="fa fa-sun-o"></i>
            </a>
        </nav>
    </header>
    <section class="details-section" id="home">
        <h1>Hi Im Andy</h1>
        <p>A Web And App Developer</p>
    </section>
    <section id="skills">
        <h1>Skills</h1>
            <div class="skills">
                <div class="skill-boxes">
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/OIP (2).jpg" alt="Software engineering">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21?tab=repositories&q=&type=&language=html&sort="><h4>Hyper Text Markup Language (HTML)</h4></a>
                            <p>Knowledge: 100%</p>
                            <p>Used For Web Development By Me</p>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/OIP.jpg" alt="Computer art">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21?tab=repositories&q=&type=&language=css&sort="><h4>Cascading Style Sheet (CSS)</h4></a>
                            <p>Knowledge: 90%</p>
                            <p>Used To Style Webpages By Me</p>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/download (1).jpg" alt="Design">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21?tab=repositories&q=&type=&language=javascript&sort="><h4>Javascript (JS)</h4></a>
                            <p>Knowledge: 50%</p>
                            <p>Used To Add Interactivity To My Webpages</p>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/download (2).jpg" alt="Data">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21/Python-Flask-App--Personal-Portfolio-/"><h4>Python (PY)</h4></a>
                            <p>Knowledge: 30%</p>
                            <p>Used For Server Deployment In My Webpages</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-skills">
                <div class="skill-boxes">
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/OIP (2).jpg" alt="Software engineering">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21?tab=repositories&q=&type=&language=html&sort="><h4>Hyper Text Markup Language (HTML)</h4></a>
                            <p>Knowledge: 100%</p>
                            <p>Used For Web Development By Me</p>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/OIP.jpg" alt="Computer art">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21?tab=repositories&q=&type=&language=css&sort="><h4>Cascading Style Sheet (CSS)</h4></a>
                            <p>Knowledge: 90%</p>
                            <p>Used To Style Webpages By Me</p>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/download (1).jpg" alt="Design">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21?tab=repositories&q=&type=&language=javascript&sort="><h4>Javascript (JS)</h4></a>
                            <p>Knowledge: 50%</p>
                            <p>Used To Add Interactivity To My Webpages</p>
                        </div>
                    </div>
                    <div class="skill-container">
                        <div class="skill-image">
                            <img src="./../../static/images/download (2).jpg" alt="Data">
                        </div>
                        <div class="skill-text">
                            <a href="https://github.com/AndyGames21/Python-Flask-App--Personal-Portfolio-/"><h4>Python (PY)</h4></a>
                            <p>Knowledge: 30%</p>
                            <p>Used For Server Deployment In My Webpages</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>
