<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="shortcut icon" href="./Resources/Media/Icon/Port.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="#welcome-section">About</a></a></li>
                    <li><a href="#projects">Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                   

                </ul>
            </nav>
        </header>
        <section class="welcome" id="welcome-section">
            <h1>Hi I'm Andy</h1>
            <p>A Web Developer</p>
        </section>
        <section class="projects" id="projects">
            <h2>These Are Some Of My Projects</h2>
            <div class="project-holder">
                <a class="project"><img class="project-img" src="./Resources/Media/tribute-page-main-image.jpg" alt="Project">"Tribute Page"</a>
                <a class="project"><img class="project-img" src="./Resources/Media/random-quote.png" alt="Project">"Random Quote Generator"</a>
                <a class="project"><img class="project-img"src="./Resources/Media/calculator.png" alt="Project">"Javascript Calculator"</a>
                <a class="project"><img class="project-img" src="./Resources/Media/map-africa.png" alt="Project">"Map Data Accross The Globe"</a>
                <a class="project"><img class="project-img" src="./Resources/Media/wiki-search.png" alt="Project">"Wikipedia VIewer"</a>
                <a class="project"><img class="project-img" src="./Resources/Media/x and o.png" alt="Project">"Tic Tac Toe Game"</a>
            </div>
            <a class="showall">Show All >

            </a>
            
        </section>
        <section id="contact" class="contact">
            <div class="contact-holder">
                <h2 class="welcometocontact">Let's work together...</h2>
                <p>How do you take your coffee?</p>
              </div>
              <div id="profile-link">
                <a class="social" href="https://facebook.com" target="_blank">
                  <!-- icons -->
                  <i class="fa fa-facebook" aria-hidden="false"></i>
                  Facebook
                </a>
                <a class="social" href="https://github.com/AndyGames21" target="_blank">
                    <i class="fa fa-github" aria-hidden="false"></i>
                    Github
                </a>
                <a class="social" href="https://twitter.com/AndyGames21" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="false"></i>
                    Twitter
                </a>
                <a class="social" href="mailto:andy.bad.gaming@gmail.com">
                    <i class="fa fa-envelope-open" aria-hidden="false"></i>
                    Mail Me
                </a>
                <a class="social" href="tel:555-555-5555-5555">
                    <i class="fa fa-phone" aria-hidden="false"></i> 
                    Call Me    
                </a>
              </div>
             
        </section>

    </body>



</html>