<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Portfolio</title>
    <link rel="stylesheet" href="./../../static/css/home.css">
    <link rel="stylesheet" href="https://use.typekit.net/cdb3jys.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./about_me.html">About Me</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="./projects.html">Projects</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="details-section" id="home">
        <h1>Hi Im Andy</h1>
        <p>A Web And App Developer</p>
    </section>
</body>
</html>
